.Categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.btn {
    background-color: #c0ca33;
    border: 0;
    border-radius: 4px;
    color: #1b1b1b;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 16px;
    padding: 10px 8px;
    text-transform: uppercase;
}
