.Modal__overlay {
  background-color: rgba(255, 255, 255, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
}

.Modal {
  background-color: #dcdcdc;
  border: 1px solid #8c9900;
  border-radius: 1rem;
  color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  position: relative;
  min-width: 30%;
  min-height: 100px;
}

.Modal__close {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #8c9900;
  cursor: pointer;
  outline: none;
}
